@import "../../styles/config";

.typescontainer{
    //border: 2px solid white;
    a{
        @include linksOmitStyling;
        color: inherit
      } 

    ul{
       padding: 0
    }

    h2{
        margin: 20px 0px;
    }

    .documentsbox{
        width: fit-content;
        grid-gap: 10px;
        margin: 20px 0;
        padding-bottom: 10px;
        font-weight: normal;

        h3{
            padding: 0;
            margin: 0;
            padding-bottom: 5px;
        }

        svg{
            height: 25px;
            padding-left: 5px;
            position: relative;
            top: 5px;
        }

        transition: .3s ease-in-out;
    }

    .documentsbox:hover{
        color: var(--link-box-hover);
        transition: .3s ease-in-out;
    }
}

@media(min-width: $medium){
    .typescontainer{
        ul{
            padding-left: 40px;
        }
    }
   
  
}