@import "../../styles/config";

.othermembers{
    display: grid;
    
    h2{
        margin: 50px auto 40px auto;
        width: fit-content;
    }
    a{
        @include linksOmitStyling;
        color: inherit
    }
    .otherMembersBoxes{
        position: relative;
        display : flex;
        margin: auto;
        gap: 40px 50px;
        flex-wrap: wrap;
        justify-content: center;
     

    
        .squareimages{
            background-color: white;
            position: relative;
            width: 80vw;
            height: 40vh;
            cursor: pointer
        }
    
       .name{
        margin: 0;
        padding: 7px;
        font-size: 1.2rem;
    
        h4{
            margin:0;
            p{
                margin:0;
                padding:0;
            }
        }
       }
    }
}


@media(min-width: $medium){
    .othermembers{
        .othermember{
            width: 17vw;
        
            .squareimages{
                width: 100%;
                height: 30vh;
            }
        }
        
    }
}