
@import "../styles/config";
//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

//css variables chaged in javascript
:root{
  --translation-width: 100vw; //how far elements will move to the right/left with sliders
  //default is set to 100vw
 
  --translation-time: 0.6s;

  --pdf2json-fontsize: 40px;
  --pdf2json-alignment: center;

  --speech-bubble-delay: 0;
  --slider-max-height: 350px;

  --insta-image-height: 380px;
  --insta-image-width: var(--translation-width);
}

html,


body{
 // font-family: 'Roboto', sans-serif;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 'Inter', "Helvetica Neue", sans-serif;
 //font-family: -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 'Inter', "Helvetica Neue", sans-serif;
 margin: 0px;
  position: relative;
  overflow-x: clip;
}

::selection {
  background: var(--red);
  color: white
}

body.burgeropen{
  border: 0px solid white;
}


//asign each screensize width some horizontal margin

@each $screensize, $marginwidth in $horizontalmargin{
  @media(min-width: $screensize){
    .maincontent{
      margin: 0 ($marginwidth);
    }
  }
}


.maincontent{
  position: relative;
  margin-bottom: ($bottommargin)
}


button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	outline: inherit;
}

button:hover{
  cursor: pointer
}


a{
  color: var(--hashtag);
}

header{
  margin:0;
}


//IGQVJVQTE4LWx5TU5CUTlTYlNXUXNBdkJJM1paODg5QUpBbFM2aVc3NHlZAX2RNbHV4YUl1X3J3ZA0d4S1B4Xy1pSjI4Szh6YjVyWDJZASGZAGa0gycDBGMXNWM3ZA3TVMyaVZAVdlp4dENkMDAxdUVobFF3ZAgZDZD
//pVAWi5ywXG7fmNmuwB7B
