@import "../../styles/config";

@mixin maps($opacity, $scale){
    opacity: $opacity;
    transform: $scale;
    position: absolute;
    top: 20vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.entryContainer{
    display: grid;

    h2{
        font-size: 1.5rem;
    }

    .entryBox{
        display: grid;

        .titleAndDate{
            align-self: center;
            background-color: var(--red);
            padding: 10px;
            color: white;
            border-radius: 3px
        }

        .titleAndDateLight{
            background-color: var(--red-lighter);
        }

        .subtitleAndText{
            padding: 5px;
            

            h3{
                font-size: 1.3rem;
            }
        }


        .locationDot{
            height: 35px;
        }

        .googleMapsClosed{
            @include maps(0, scale(0.8))
        }

        .googleMaps{
            @include maps(1, scale(1))
        }
    }
}

.links{
    color: var(--black-white-switch);
    background-color: var(--calender-link-box);
    display: grid;
    gap: 50px;
    margin-top: 50px;
    padding: 30px;
    .linkBox{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}


@media(min-width: $medium){
    .entryContainer{
        .entryBox{
            grid-auto-flow: column;
            gap: 20px;
            .titleAndDate{
                width: 25vw;
            }
        }
    }
}               