@import "../../styles/config";

.typescontainer{
    //border: 2px solid white;

    ul{
       padding: 0
    }

    h2{
        margin: 20px 0px;
    }

    .documentsbox{
        display: flex;
        margin: 20px 0;
       // border-bottom: 1px solid black;
        padding-bottom: 10px;
        font-weight: normal;

        h3{
            padding: 0;
            margin: 0;
        }

        svg{
            height: 30px;
            padding-left: 10px;
            position: relative;
            bottom: 8px;
        }

        transition: .3s ease-in-out;
    }

    .documentsbox:hover{
        color: var(--link-box-hover);
        transition: .3s ease-in-out;
    }
}

@media(min-width: $medium){
    .typescontainer{
        ul{
            padding-left: 40px;
        }
    }
   
  
}