@import "../../styles/config";


.container{
    display: grid;
    
   
    h2{
        font-size: 1.8rem;
        margin: 0px 0 10px 0;
    }


    h3{
        font-size: 1.5rem;
        margin-bottom: 0px;

    }

    ul{
        list-style-type: square;
    }



    .externalLinks{
        @include links();
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .externalLinks:hover{
        background-color: var(--link-box-hover);
    }

}

