@import "../../styles/config";

.maincontainer{

    margin-top: 50px ;
    margin-bottom: 0px;

    .image{
        position: relative;
        height: 400px;
        width: 300px;
        margin: auto;
    }


    .roles{
        filter: brightness(70%);
        font-style: italic;
        font-size: 1.2rem;
        width: fit-content;
    }

    p{
        margin:0;
    }
    .description{
        margin-top: 40px;
        line-height: 1.4rem;
    }

}

@media(min-width: $medium){

.maincontainer{
    .image{
        margin-left: 20px;
        float: right;
    }

    .purgeFloats{
        clear: both;
    }
  }
}
