@import "../../styles/config";

.othermembers{
    position: relative;
    display : flex;
    gap: 40px 50px;
    flex-wrap: wrap;
    justify-content: flex-start;

    .squareimages{
        background-color: white;
        position: relative;
        width: 80vw;
        height: 40vh;
        cursor: pointer
    }

   .name{
    margin: 0;
    padding: 7px;
    font-size: 1.2rem;

    h4{
        margin:0;
        p{
            margin:0;
            padding:0;
        }
    }
   }
}

@media(min-width: $medium){
    .othermembers{
        .othermember{
            a{
                @include linksOmitStyling;
                color: inherit
            }
            width: 17vw;
        
            .squareimages{
                width: 100%;
                height: 30vh;
            }
        }
        
    }
}