@import "../../styles/config";




.othermembers{
    display : flex;
    gap: 40px 30px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;

    .squareimages{
        background-color: white;
        position: relative;
        width: 80vw;
        height: 40vh;
        cursor: pointer
    }

   .name{
    margin: 0;
    padding: 7px;
    font-size: 1.2rem;

    h4{
        margin:0;
    }
   }
}

@media(min-width: $medium){
    .othermembers{
        .squareimages{
            width: 17vw;
            height: 30vh
        }
    }
}