@import "../../styles/config";

@mixin plus2minus($rotation){
    content: "";
    background-color: var(--red);
    height:  5px;
    width: 30px;
    transform:  rotate($rotation);
    transition: 0.5s;
}

@mixin paragraphs($max-height){
    line-height: 1.4rem;
    max-height: $max-height;
    overflow: hidden;
    transition: .3s ease-in-out;
}


.accordioncontainer{
    display: grid;
    gap: 20px;
    align-items: center;

        .accordionbanner{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title{
                width: fit-content;
            }

            .more{
                display: flex;
                cursor: pointer;
                margin-right: 5px;
                padding: 20px;
                border-radius: 50%;

                .plusvertical{
                    @include plus2minus(-90deg);
                    position: absolute;
                }

                .minus{
                    @include plus2minus(0deg);
                    position: absolute;
                }

                .plushorizontal{
                    @include plus2minus(0deg);
                }
            }
        }
        p{
            margin: 10px;
        }

        .paragraphs{
            @include paragraphs(1500px);
        }

        .paragraphsclosed{
            @include paragraphs(0px);
        }
}

.schwerinerManifest{
    display: flex;
    margin: auto;
    border: 1px solid var(--red);
    padding: 5px;

    h3{
        padding:0;
        margin: 0;
        font-size: 1.5rem
    }

    svg{
        width: 25px;
        height: 25px;
        padding-left: 3px;
    }
}
