@import "../../styles/config";

.maincontainer {
    position: fixed;
    right: 0;
    bottom: 15vh;
    z-index: 10;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: right;
}

.maincontainer {
    button {
        background-color: var(--red);
        color: black;
        border: none;
        cursor: pointer;
        position: relative;
        height: 50px;
        width: 50px;

        svg {
            transform: scale(1.45);
            margin: auto;
            transition: .2s;
        }

    }
}

.maincontainer button:hover {
    svg {
        transform: scale(1.8);
        transition: .2s;
    }
}

.iconsun {
    display: var(--sundisplay)
}

.iconmoon {
    display: var(--moondisplay)
}



@media(min-width: $medium) {
    .maincontainer button {
        height: 60px;
        width: 60px;

        svg {
            transform: scale(1.9);
        }


    }

    .maincontainer button:hover {
        svg {
            transform: scale(2.15)
        }

    }

}