@import "../../styles/config";

.maincontainer{
    position: fixed; 
    right: 0;
    bottom: 15vh;
    z-index: 10;
    display: flex; 
    gap: 10px;
    flex-direction: column;
    text-align: right;
}

.maincontainer{
    button{
        background-color: var(--red);
        cursor: pointer;
        position: relative;
        height: 50px;
        width: 50px;

        svg{
            position: absolute;
            height: 20px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.iconsun{
    display: var(--sundisplay)
}

.iconmoon{
    display: var(--moondisplay)
}



@media(min-width: $medium){
    .maincontainer button{
        height: 60px;
        width: 60px;
    }
  
}