
//media queries breackpoints
$extrasmall: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extralarge: 1200px;
$extraextralarge: 1400px;
$XXXlarge: 2000px;


@mixin underline($color, $height){
    content: '';
    background-color: $color;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 0%;
    height: $height;
    transition: width 0.25s ease-out;
}


