.content{
    margin: 0px 100px 0px 120px;
    display:flex;
    flex-direction:column; 
}

.content2{
    margin: 0px 100px 50px 120px;
    display:flex;
    flex-direction:column; 
    border: 2px rgb(204, 0, 0) solid;
    padding: 0px 20px 10px 20px;
}

.title{
    text-decoration: underline;
    text-decoration-color:  rgb(204, 0, 0);
    cursor:pointer
}

.title:hover{
    background-color:rgba(117, 84, 84, 0.432);
    padding: 2px;
    text-decoration: none;
}

.title2{
    text-decoration: none;
    cursor:pointer;
}


.text{
    display:none;
}

.text2{
    display: flex;
}
