body{
    background-color: white;
    color: black;
    --darkmode-text-color: rgb(187, 187, 187);
    --shadow: rgba(60,64,67,0.15);
    --shadow-darker: rgba(48, 51, 53, 0.232);
    --horizontal-line: rgb(77, 77, 77);
    --black-white-switch: black;

    --red: rgb(204, 0, 0);
    --red-lighter: rgb(204, 100, 100);
    --red-slider-button: rgb(228, 96, 96);
    --link-box-hover: rgb(163, 22, 22);
    
    --lightblack: rgb(43, 43, 43);
    --lightblacktrans: rgba(27, 27, 27, 0.774);
    --greytrans: rgba(138, 138, 138, 0.738);
    --articleborders: rgb(125, 125, 125);

    --burger-menu-background: rgb(0, 0, 0);
    --burger-titles: rgb(186, 186, 186);
    --burger-links: rgb(191, 191, 191);
    --nav-sublabel-border: rgb(107, 107, 107);

    --calender-link-box: rgb(179, 179, 179);

    --form-background: rgb(238, 238, 238);
    --inputborder: var(--lightblack);

    --footer: black;
    --footerbackground:  rgb(218, 218, 218); 

    --sundisplay: none;
    --moondisplay: block;
}

body.dark{
    background-color: rgb(0, 0, 0);
    color: var(--darkmode-text-color);
    --shadow: rgba(204,0,0 , 0.15);
    //--shadow-darker: rgba(165, 165, 165, 0.232);
    --greytrans: rgba(86, 86, 86, 0.779);
    
    --black-white-switch: white;

    --red-slider-button: rgb(170, 10, 10);

    
    --articleborders: rgb(124, 124, 124);

    --burger-menu-background: black;
    --burger-titles: var(--darkmode-text-color);
    --burger-links: rgb(191, 191, 191);
    --nav-sublabel-border: black;

    --calender-link-box: rgb(106, 106, 106);

    --form-background: rgb(3, 3, 3);
    --inputborder: var(--red);

    --footer: rgb(193, 193, 193);
    --footerbackground: rgb(34, 34, 34);

    --sundisplay: block;
    --moondisplay: none;

}