@import "../styles/config";

.container{
    border: 2px solid var(--red);
    display: grid;
    margin: 5vh auto 0% auto;
    width: fit-content;
    padding: 3vw;
    margin-bottom: 3vh;
    gap: 4vh;
}


.textarea{
    height: 100px;
    resize: none;
}

.textarea, .inputs{
    border: 2px solid var(--inputborder);
    border-radius: 3px;
}


.submit{
    color: var(--lightblack);
    font-weight:bold;
    padding: 10px;
    text-decoration: none;
    background-color: var(--red);
    cursor:pointer;
}

@media(min-width: $medium){
    .inputcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .title, .submit{
        grid-column: 1/-1;
        text-align: center;
        justify-self: center;
    }

    .submit{
        border-radius: 100px;
        width: fit-content;
        transition: .2s;
    }

    .submit:hover{
        transform: scale(1.1);
        color: black
    }

}