
@import "../styles/config";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,



header{
  margin:0;
}
body{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  position: relative;
  overflow-x: clip;
}

body.burgeropen{
  overflow-y: hidden;
  height: calc(var(--window-inner-height) - 1px);
}




.maincontent{
  margin: 0 ($horizontalmargin);
}

