@import "../styles/config";


.horizontalLine{
   @include horizontalLine(1px);
}

.verticalLine {
    height: 24px;
    border-left: 1px solid rgb(77, 77, 77);
}

.none{
    display: none
}

.displayBlock{
    display: block
}

.lastupdated::before{
    content:"letzes mal bearbeitet: ";
}


.lastupdated{
    font-size: 0.9rem;
    margin-top: 20px;
    width: fit-content;
    position: relative;
    left: 10px;
}


.mainimage{
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow-y: hidden;
}


.container{
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1{
        text-align: center
    }

    h2{
        font-size: 1.7rem;
        margin: 0
    }

    p{
        border: 2px solid var(--red);
        padding: 15px;
    }

}



//overwrite margins for different screen sizes which have different default margins
@each $screensize, $marginwidth in $horizontalmargin{
    @media(min-width: $screensize){
        .lastupdated{
            margin-left: (-$marginwidth);
            margin-bottom: (-$bottommargin)
        }
    
        .mainimage{
            margin: 0 (-$marginwidth)
        }
      }
  }
