
@import "../styles/config";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,


header{
  margin:0;
}
body{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  position: relative;
}

body.burgeropen{
  overflow-y: hidden;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper {
  overflow-x: clip;
  overflow-y: clip;
  width: 100%;
  min-height: 100vh, auto;
  position: absolute;
 -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
  scrollbar-width: none;  /*Hide scrollbar Firefox */

}

/*@media(min-width: $medium){
  body.burgeropen{
    overflow-y: visible;
  }
}*/

