@import "../styles/config";


.horizontalLine{
    border: 0px;
    height: 1px;
    width: 100%;
    background: rgb(77, 77, 77);
}

.verticalLine {
    height: 24px;
    border-left: 1px solid rgb(77, 77, 77);
}

.none{
    display: none
}

.lastupdated::before{
    content:"letzes mal bearbeitet: ";
}

.lastupdated{
    font-size: 0.9rem;
    margin-left: (-$horizontalmargin);
    margin-top: 20px;
    width: fit-content;
    position: relative;
    left: 10px;
}


.mainimage{
    position: relative;
    margin: 0 (-$horizontalmargin);
    width: 100vw;
    height: 60vh;
    overflow-y: hidden;
}


.container{
    display: grid;
    gap: 30px;

    h1{
        text-align: center
    }
}

