@import "../styles/config";

.maincontainer{
    position: fixed; 
    right: 0;
    bottom: 20vh;
    z-index: 10;
    display: flex; 
    gap: 10px;
    flex-direction: column;
    text-align: right;

}

.maincontainer button{
    background-color: var(--red);
    cursor: pointer;
    border: 2px solid black;
    height: 50px;
    width: 50px;
}

@media(min-width: $medium){
    .maincontainer button{
        height: 60px;
        width: 60px;
    }
  
}