@import "../styles/config";

@mixin movingslides($translate){
    position: relative;
    transform: translate($translate);
    width: 100vw;
    height: 100%
}

.maincontainer{
    margin: 0 (-$horizontalmargin);
    width: 100vw;
    overflow: hidden;
}


.imagecontainer{
    border: 2px var(--red) solid;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    height: 350px;
}

.current{
    @include movingslides($translate: 0);
    transition:  0.7s ease-in-out;
}

.next{
    @include movingslides($translate: -100vw)
}

.previous{
    @include movingslides($translate: 100vw);
    transition: transform 0.7s ease-in-out;
}
.nextreduce{
    @include movingslides($translate: 100vw)
}

.previousreduce{
    @include movingslides($translate: -100vw);
    transition: transform 0.7s ease-in-out;

}

.none{
    display: none;
}


.button1, .button2{
    position: absolute;
    //background-color: var(--lightdark);
    background-color: blue;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    height: fit-content;
    width: fit-content;
    cursor:pointer;
    z-index: 2;
}

.button1{
    left: 5px;
}

.button2{
    transform: scaleX(-1);
    right: 5px;
}

.dotcontainer{
    justify-self: center;
    position: absolute;
    bottom: 10vw;
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
}

.dots{
    background-color: var(--lightblacktrans);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}