@import "../styles/config";

.mainslider{
    font-size: .9rem;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: relative;
    height: 70vh;
}


.none{
    display:none;
}


.current{
    @include movingslides($translate: 0);
    transition: transform 0.7s ease-in-out;
}

.next{
    @include movingslides($translate: -100vw)
}

.previous{
    @include movingslides($translate: 100vw);
    transition: transform 0.7s ease-in-out;

}
.nextreduce{
    @include movingslides($translate: 100vw)
}

.previousreduce{
    @include movingslides($translate: -100vw);
    transition: transform 0.7s ease-in-out;

}


.button1{
    color: rgb(63, 63, 63);
    background-color: $redsliderbutton;
    font-size: 1.3rem;
    height: 110px;
    width: 60px;
    border: none;
    border-radius: 0px 100px 100px 0px;
    cursor:pointer;
}

.button2 {
    transform: scaleX(-1);
}

@media(min-width: $small){
    .mainslider{
        font-size: 1rem;
    }
}

@media(min-width: $medium){
    .mainslider{
        height: 60vh;
        font-size: 1.1rem;
    }
}

