@import "../../styles/config";

@mixin movingslides($translate){
    position: absolute;
    width: 100vw;
    height: 100%;
    transform: translateX($translate);
}

.current{
    @include movingslides($translate: 0);
    transition:  var(--translation-time) ease-in-out;
}

.next{
    @include movingslides($translate: var(--translation-width));
}


.previous{
    @include movingslides($translate: calc(var(--translation-width)*-1));
    transition: transform var(--translation-time) ease-in-out;
}

.nextreduce{
    @include movingslides($translate: calc(var(--translation-width)*-1))
}

.previousreduce{
    @include movingslides($translate: var(--translation-width));
    transition: transform var(--translation-time) ease-in-out;
}

.none{
    display: none;
}


.button1, .button2{
    color: var(--darkmode-text-color);
    background-color: var(--lightblacktrans);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 2.4rem;
    font-weight: bolder;
    border: none;
    height: fit-content;
    width: fit-content;
    cursor:pointer;
    z-index: 2;
    border-radius: 40px;
    padding: 0 5px 0 5px;
    span{
        margin: auto;
    }
}

.button1{
    left: 10px;
}

.button2{
    transform: scaleX(-1);
    right: 10px;
}

.dotcontainer{
    justify-self: center;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%); 
    bottom: 30px;
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    z-index:2;
}

.dots{
    background-color: var(--lightblacktrans);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.dotsactive{
    background-color: black;
}