.clipboard{
    position: relative;
    width: max-content;
    border: 2px solid white;
    margin: 0;
    margin-bottom: 100px;
    padding: 10px;


    textarea {
        border: none;
         overflow: auto;
         outline: none;
         font: inherit;
         min-width: 250px;
         color: inherit;
         height: fit-content;
     
         -webkit-box-shadow: none;
         -moz-box-shadow: none;
         box-shadow: none;
         background: none;
 
         resize: none; /*remove the resize handle on the bottom right*/
     }

    .svgwrapper{
        width: fit-content;
        padding: 3px;

        svg{
            height: 30px;
            cursor: pointer;
            transition: 0.2s;
        }

        svg:hover{
            color: var(--black-white-switch);
        }

    }   

    .speechbubble{
        opacity: 1;
        transition: 0.2s;
        background-color: blue;
        width: fit-content;
        padding: 7px;
        border-radius: 5px;
    }

    .speechbubbleclosed{
        opacity: 0;
        transition: 0.2s;
        background-color: blue;
        border-radius: 5px;
        width: fit-content;
        padding: 7px;
        transition-delay: var(--speech-bubble-delay);
    }


}