@import "../../styles/config";

.container{
    border: 2px solid var(--red);
    display: grid;
    margin: 5vh auto 0% auto;
    justify-items: center;
    padding: 3vw;
    margin-bottom: 3vh;
    gap: 4vh;
    background-color: var(--form-background);
    min-width: fit-content;
}


.textarea{
    height: 100px;
}

.textarea, .inputs{
    border: 1px solid var(--inputborder);
    border-radius: 3px;
    font: inherit;
    font-size: 1.1rem;
    min-width: 250px;
}


@media(min-width: $medium){
    .inputcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
    }

    .textarea, .inputs{
        min-width: 300px;
    }
    

    .title{
        grid-column: 1/-1;
        text-align: center;
        justify-self: center;
    }

    .submit{
        border-radius: 100px;
        width: fit-content;
        transition: .2s;
    }

    .submit:hover{
        transform: scale(1.1);
        color: black
    }

}