@import "../../styles/config";

.container{
    border: 2px solid var(--red);
    display: grid;
    margin: 5vh auto 0% auto;
    justify-items: center;
    padding: 3vw;
    margin-bottom: 3vh;
    gap: 1vh;
    background-color: var(--form-background);
    min-width: fit-content;

    .description{
      font-size: 1.1rem;
    }

    .title{
      text-align: center;
    }
}


.textarea{
    height: 100px;
}

.textarea, .inputs{
    border: 1px solid var(--inputborder);
    border-radius: 3px;
    font: inherit;
    font-size: 1.1rem;
    min-width: 280px;
}

.submitButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 140px;
    height: 60px;
    color: var(--lightblack);
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    transition: .2s;
    
    svg.btnLayer {
      display: block;
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 100px;
      z-index: 2;
      pointer-events: none;
      fill: var(--red);
    }

    svg.plane {
      z-index: 3;
      position: absolute;
      left: 10px;
      display: block;
      width: 26px;
      height: 28px;
      fill: var(--black-white-switch);
      transform: translate3d(0, 0, 0);
      perspective: 500px;
    }
    > ul {
      list-style: none;
      padding: 0 5px 0 0;
      position: relative;
      > li {
        display: inline-block;
        position: relative;
        z-index: 2;
        padding-left: 40px;
        font-size: 1.1rem;
        transition: transform .3s ease 0s, opacity .3s ease 0s;
        &:first-child {
          opacity: 1;
        }
        &:last-child {
          position: absolute;
          left: 0;
          top: 100%;
          opacity: 0;
        }
      } 
    }
    &.active {
      svg.plane {
        animation: 1.5s orbit alternate linear;
      }
      > ul {
        > li {
          transform: translateY(-100%);
          transition: transform .3s ease 1.2s, opacity .3s ease 1.2s;
          &:first-child {
            opacity: 0;
          }
          &:last-child {
            opacity: 1;
          }
        } 
      }
    }
  }

  .submitButton:hover{
    transform: scale(1.05);
    color: black
  }
  
  @keyframes orbit {
    0% {
      transform: rotate3d(1,0,0,0deg) translateZ(60px) scale3d(1,1,1);
      animation-timing-function: ease-in;
    }
    10% {
      z-index: 3;
      transform: rotate3d(1,.6,0,-10deg) translateZ(60px) scale3d(1,1,1);
      animation-timing-function: ease-out;
    }
    20% {
      z-index: 3;
      transform: rotate3d(1,.6,0,30deg) translateZ(60px) scale3d(1,1,1);
      animation-timing-function: ease-out;
    }
    30% {
      z-index: 3;
      transform: rotate3d(1,.6,0,35deg) translateZ(60px) scale3d(1,1,1);
    }
    40% {
      z-index: 1;
      transform: rotate3d(1,.6,0,120deg) translateZ(60px)  scale3d(.7,.7,1);
    }
    70% {
      z-index: 1;
      transform: rotate3d(1,.6,0,240deg) translateZ(60px)  scale3d(.7,.7,1);
      animation-timing-function: ease-out;
    }
    100% {
      z-index: 3;
      transform: rotate3d(1,0,0,360deg) translateZ(60px)  scale3d(1,1,1);
    }
  }
  


@media(min-width: $medium){
    .inputcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 50px;
    }

    .textarea, .inputs{
        min-width: 300px;
    }


    .submit{
        border-radius: 100px;
        width: fit-content;
        transition: .2s;
    }

    .submit:hover{
        transform: scale(1.1);
        color: black
    }

}




