@import "../../styles/config";

@mixin links(){
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    background-color: var(--links-background);
    border-radius: 3px;
    width: min-content;
    height: fit-content;
    transition: .3s;
    
    svg{
        transition: .2s;
    }
}

.internalLinkBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 0 20px 0;

    .internalLinks{
        @include links();
        min-height: fit-content;
        width: 100%;
        position: relative;
        padding: 10px 15px;

        .images{
            height: 200px;
            width: 100%;
            position: relative;
            margin: 15px 0 15px 0;
        }

        .textarrow{
            display: flex;
            align-items: center;
            gap: 10px; 

            h4{
                margin:0;
            }
        }

        p{
            font-size: 1rem;
        }
    }
    .internalLinks:hover{
        background-color: var(--link-box-hover);
    }

    .internalLinks2{
        display: block;
        width: max-content;
        margin-top: 50px;
    }
}

@media(min-width: $medium){
    .internalLinkBox{
        padding: 20px 0 0 0;
        .internalLinks{
            width: 250px;
        }

        .internalLinks2{
            display: block;
            width: max-content; 
        }
    }
  
}