@import "../../styles/config";

@mixin links(){
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    background-color: rgb(52, 52, 52);
   // padding: 10px;
    border-radius: 3px;
    width: fit-content;
    transition: .3s;
    
    svg{
        transition: .2s;
    }
}


.container{
    display: grid;
    gap: 20px;
    .mainheader{
        margin: 40px 0;
        font-weight: 900;
        h1{
            text-align: center;
            margin: 30px 0;
            font-size: 2rem;
        }

        .horizontalline{
            @include horizontalLine(2px)
        }
    }
    h2{
        font-size: 1.9rem;
        margin: 0px 0 10px 0;
    }

    h3{
        font-size: 1.5rem;
        margin-bottom: 15px;

    }

    ul{
        line-height: 1.5rem;
        list-style-type: square;
    }

    .pimage{
        height: 250px;
        width: 250px;
        float: right;
        position: relative;
        display: inline;
        margin: 10px;
        vertical-align: -50px;
    }
    
    .paragraphBorder{
        border: 1px solid var(--red);
        width: fit-content;
        padding: 10px;
        vertical-align: -50px;
        overflow-y: hidden;

    }

    .externalLinks{
        @include links();
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .externalLinks:hover{
        background-color: var(--link-box-hover);
    }

}

