@import "../../styles/config";

.maincontainer{

    margin-top: 50px ;
    margin-bottom: 0px;
   // display: flow-root;

    .image{
        position: relative;
        height: 400px;
        width: 300px;
        margin: auto;
    }

    .roles{
        filter: brightness(70%);
        font-style: italic;
        font-size: 1.2rem
    }

    p{
        margin-top: 50px;
    }

}

@media(min-width: $medium){

.maincontainer{
    .image{
        margin-left: 30px;
        margin-bottom: 30px;
        float: right;
    }
  }
}
