@import "../../styles/config";


.maincontainer{
    margin: 0 (-$horizontalmargin);
    width: 100vw;
    overflow: hidden;
}


.imagecontainer{
    border: 2px var(--red) solid;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    height: 350px;
}

