@import "../../styles/config";




.description{
    font-size: 1.1rem;
    border: 2px solid var(--red);
    padding: 30px;
    display: grid;
    gap: 20px;

    span{
        font-weight: bolder;
    }

}


.othermembers{
    display : flex;
    gap: 40px 30px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;

    .squareimages{
        background-color: white;
        position: relative;
        width: 80vw;
        height: 40vh;
    }

   h4{
    margin: 0;
    padding-top: 5px;
    font-size: 1.2rem;
   }
}

@media(min-width: $medium){
    .othermembers{
        .squareimages{
            width: 17vw;
            height: 30vh
        }
    }
}