@import "../../styles/config";




.description{
    font-size: 1.1rem;
    border: 2px solid var(--red);
    padding: 30px;
    display: grid;
    gap: 20px;

    span{
        font-weight: bolder;
    }

}


.othermembers{
    display : flex;
    gap: 40px 30px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;

    .squareimages{
        background-color: white;
        position: relative;
        width: 50vw;
        height: 40vh;
    }

    h4{
        color: var(--black-white-switch)
    }
}

@media(min-width: $medium){
    .othermembers{
        .squareimages{
            width: 15vw;
            height: 30vh
        }
    }
}