@import "../../styles/config";

@mixin plus2minus($rotation){
    content: "";
    background-color: var(--red);
    height:  5px;
    width: 30px;
    transform:  rotate($rotation);
    transition: 0.5s;
}

@mixin paragraphs($opacity, $position){
    line-height: 1.4rem;
    opacity: $opacity;
    transition: 0.2s ;
    position: $position
}


.accordioncontainer{
    display: grid;
    gap: 20px;
    align-items: center;

        .accordionbanner{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title{
                width: fit-content;
            }

            .more{
                display: flex;
                cursor: pointer;
                margin-right: 5px;
                padding: 20px;
                border-radius: 50%;

                .plusvertical{
                    @include plus2minus(-90deg);
                    position: absolute;
                }

                .minus{
                    @include plus2minus(0deg);
                    position: absolute;
                }

                .plushorizontal{
                    @include plus2minus(0deg);
                }
            }
        }
        p{
            margin: 10px;
        }

        .paragraphs{
            @include paragraphs(1, block)
        }

        .paragraphsclosed{
            display: none
        }
}
